 body {
	margin: 0;
	padding: 0;
	font-family: arial;
}

div.scanner {
 width: 100%;
  height: 100%;
  display: block;
  position: relative;

  background-image: url("../img/Scanner.PNG");
  background-repeat: no-repeat;
  background-size: 10%;
  opacity: 1;
  top: 100px;
  left: 400px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 	
}

div.background {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;

  background-image: url("../img/Startseite.png");
  background-repeat: no-repeat;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

div.background.startseite {
	background-image: url("../img/Startseite.png");
}

div.background.variants {
	background-image: url("../img/ScanAnsicht.png");
	opacity: 0.3;
}

.highlight {
    border: 2px solid blue;
	background: lightblue;
}

#mediName1 {
	position: absolute;
    top: 112px;
    left: 4px;
    width: 286px;
    height: 23px;
}

#ean {
	position: absolute;
    top: 134px;
    left: 117px;
    width: 173px;
    height: 23px;
}

#lgort1 {
	position: absolute;
    top: 243px;
    left: 101px;
    width: 35px;
    height: 23px;
}

#beleg {
	position: absolute;
    top: 243px;
    left: 200px;
    width: 77px;
    height: 23px;
}

#charge {
    position: absolute;
    top: 266px;
    left: 101px;
    width: 77px;
    height: 23px;
}

#datum {
    position: absolute;
    top: 266px;
    left: 200px;
    width: 77px;
    height: 23px;
}

#lgort2 {
      position: absolute;
    top: 88px;
    left: 367px;
    width: 37px;
    height: 23px;
}

#mediName2 {
    position: absolute;
    top: 88px;
    left: 472px;
    width: 233px;
    height: 23px;
}

#next {
    position: absolute;
    top: 444px;
    left: 1073px;
	padding: 12px 16px;
	border: 2px solid #4B0082;
	display: block;
	color: white;
	background: #FF00FF;
	text-decoration: none;
	font-size: 20px;
	border-radius: 6px;
}

#prev {
    position: absolute;
    top: 444px;
    left: 1016px;
	padding: 12px 16px;
	border: 2px solid #4B0082;
	display: block;
	color: white;
	background: #FF00FF;
	text-decoration: none;
	font-size: 20px;
	border-radius: 6px;
}

.inari-title {
    position: absolute;
    top: 3px;
    left: 752px;
	font-size: 18px;	
	text-transform: uppercase;
	font-weight: bold;
	color: blue;
}

.inari {
    position: absolute;
    top: 27px;
    left: 752px;
    padding: 12px 16px;
    border: 2px solid #4B0082;
    height: 350px;
    width: 332px;
	font-size: 13px;
}

.inari label {
	width: 120px;
    display: inline-block;
    margin: 0 0 8px 0;
}
.inari input {
	width: 200px;
    display: inline-block;
    margin: 0 0 8px 0;
}

.inari .status {
    border-radius: 6px;
    padding: 12px 16px;
    text-transform: uppercase;
    margin: 0 20px 0px 0;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.inari .status.valid {
    border: 2px solid #006400;
	background: #00FF00;
	font-size: 12px;
    font-weight: bold;
    color: #006400;
  }
  
 .inari .status.invalid {
    border: 2px solid #b30000;
    background: #ff0000;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

.inari .status-text {
    margin: 16px 0 0 0;
    display: inline-block;
    position: relative;
    padding: 0 0 0 125px;
}

.status-text p {
    margin: 0 0 16 0;
}

.scan-text p {
    margin: 40 40 40 40;	
	font-size: 26px;
}

.inari .buttons {
    padding: 0 0 0 125px;
}

.mail {
    clear: both;
    display: block;
    margin: 0 0 10 0;
    width: 200;
}

.mail .fa {
    font-size: 22;
	float: left;
}

.mail span {
    display: inline-block;
    float: left;
    padding: 5px 0 0px 4px;
}
